{
    box-sizing:border-box;
}
body{
    background:rgb(141, 112, 100);
    width: 100%;
    height: 100%;

}


form{
    background: rgb(117, 82, 66);
    width: 20%;
    margin: 100px auto;
    text-align: center;
}
input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
    
}

#cof {background: rgb(182, 157, 136);
    width: 1000px;
    border: 1px solid rgb(82, 54, 29);   
}


    
